/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS (and SCSS, if configured) file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */

/* Styling for flash messages */
.notice {
  padding: 1rem;
  margin-bottom: 1rem;
  border: 1px solid #ccc;
  background-color: #f0f0f0;
  border-radius: 5px;
}

.alert {
  padding: 1rem;
  margin-bottom: 1rem;
  border: 1px solid #dc9935;
  background-color: #f8f8d7;
  color: #721c24;
  border-radius: 5px;
}
/* Ensure the logo and navbar text are aligned correctly */
.navbar-brand {
    display: flex;
    align-items: center;
  }
  
  .navbar-brand .logo {
    height: 60px; /* Adjust as needed */
    width: auto;
    margin-right: 1rem; /* Space between logo and text */
  }
  
  .navbar-nav {
    margin-left: auto; /* Pushes the nav items to the right side */
  }
  
  .navbar-nav .nav-item {
    margin-left: .5rem; /* Space between nav items */
  }
  
  .custom-small-text {
    font-size: 0.90rem; /* Adjust the size as needed */
  }